<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/main.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/w3.css}">
</head>
<style>
    #mbcont{
        margin-top:120px;
        @media (max-width: 1000px) {
            margin-top:42%;
        }
    }
</style>
<body>
<div class="container" id="mbcont">
    <div class="authflex">
        <div class="authcomp">
            <div style="margin-top: 4em"></div>
            <div class="w3-container w3-white w3-round-large w3-padding w3-center" id="authwind">
                <h2 id="authname">Авторизация</h2>
                <form action="/authorization/authorize" method="post">
                    <input type="text" name="login" placeholder="Логин" th:value="${getLogin==null}?'':${getLogin}"
                           class="form-control authinp"><br>
                    <p class="authtext" th:text="${emptyLog}" style="color: crimson;align-self: auto"/>
                    <input type="password" name="password" placeholder="Пароль"
                           th:value="${getPassword==null}?'':${getPassword}" class="form-control authinp"><br>
                    <p class="authtext" th:text="${emptyPass}" style="color: crimson;align-self: auto"/>
                    <p class="authtext" th:text="${error}" style="color: crimson;align-self: auto"/>
                    <button type="submit" id="authbut"
                            class="btn btn-success w3-round-large w3-hover-white w3-hover-text-black  w3-border-black w3-hover-border-black">
                        Войти
                    </button>
                </form>
            </div>
        </div>
        <div class="authcomp">
            <div class="w3-container" style="margin-left: 2em;@media (max-width: 480px) {
            margin-left: 0;
            }">
                <h1 id="h1auth" style="font-size: 7.5em;font-stretch: extra-condensed; font-weight: bold;">CINESOFT</h1>
                <h2 id="h2auth" style="font-weight:normal;">Средство автоматизации управления контентом вашего кинотеатра</h2>
            </div>
        </div>
    </div>
</div>
</body>
</html>