<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body style="background-image: linear-gradient(120deg, #e89df3, #9eaaef);">
<div class="container w3-black w3-padding"
     style="align-content: flex-start;position: fixed;top: 0;left: 0;width: 100%;">
    <div class="w3-bar">
        <a href="mainpage" class="w3-bar-item">
            <img th:src="@{/images/logo.png}" alt="logo" th:width="300" th:height="75">
        </a>
        <a href="authorization" class="w3-bar-item w3-right btn w3-hover-text-grey">
            <h3 style="margin-right: 2em; margin-top: 0.9em">Выйти</h3>
        </a>
    </div>
</div>
<div id="floatTip"></div>
<div class="container" style="margin-top: 20.7em"></div>
<span th:if="${success!=null}">
    <div class="container" style="margin-top: 2em"></div>
    <div class="w3-container w3-white w3-round-large center"
         style="width: 50%;padding:10px 10px;text-align:center;margin: auto" th:text="${success}"></div>
</span>
<div class="scrolling-wrapper" style="position: fixed;top:7.7em;left: 0;width: 100%;margin-bottom: 5em" id="scrWrpr">
    <div th:each="movie:${movies}" class="card">
        <div class="card">
            <img class="dropobject" th:src="@{${movie.getPoster()}}" draggable="true" onclick="showForm(event)"
                 onerror="this.src='/images/noimg.png'" th:width="80" th:onMouseOver="'toolTip(\'Номер фильма:'+${movie.getId()}+' <br>Формат: '+${movie.getPermission()}+'D<br>Возрастное ограничение:'+${movie.getAgeRating()}+'\')'"
                 onmouseout="hideToolTip()"
                 style="margin-top: 2em" th:height="100" th:id="${movie.getId()}">
            <p th:text="${movie.getName()}" STYLE="color: white;line-height: 0.2em"></p>
            <p th:text="${movie.getMovieLength()}+' минут'" STYLE="color: white;line-height: 0.2em"></p>
            <p th:text="${movie.getPermission()}+'D'" STYLE="color: white;line-height: 0.2em"></p>
        </div>
    </div>
</div>

<div type="container" style="padding: 5px">
    <form action="/session_creation/create" method="post" class="container w3-round-large w3-black w3-padding"
          style="display: none;flex-direction:column;width:20%;justify-content: center;margin: auto;" id="inputForm">
        <label for="sesMovie">Фильм:</label>
        <input id="sesMovie" name="sesMovie"
               style="background-color: black;color: white;outline: none;margin-bottom: 0.5em" readonly>
        <label for="sesHall">Зал:</label>
        <select id="sesHall" name="sesHall" style="background-color: white;color: black;margin-bottom: 0.5em"></select>
        <label for="sesDate">Дата показа:</label>
        <input type="date" name="sesDate" id="sesDate" label="Дата показа" th:min="${dates[1]}"
               th:max="${dates[dates.size()-1]}" th:value="${dates[1]}"
               style="margin-bottom: 0.5em" required>
        <label for="sesStartTime">Время начала показа:</label>
        <input type="time" name="sesStartTime" id="sesStartTime" min="08:00" max="22:00" value="08:00"
               onchange="changeTime(event)" style="margin-bottom: 0.5em" required>
        <label for="sesEndTime">Время конца показа:</label>
        <input name="sesEndTime" id="sesEndTime"
               style="background-color: black;color: white;outline: none;margin-bottom: 0.5em" readonly required>
        <p id="error" style="display: none;color: #ff3131"></p>
        <div type="container" style="display: flex;flex-direction: row">
            <button type="submit" id="sesButton"
                    class="btn btn-success w3-round-large w3-hover-black w3-hover-text-white w3-right w3-border-black w3-hover-border-black"
                    style="background-color: white;text-align: center;color: black; height: 2.5em;width: 30%;margin-bottom: 0.5em;vertical-align:bottom"
                    disabled>Создать
            </button>
            <button id="cancelButton" type="button"
                    class="w3-round-large w3-hover-white w3-hover-text-black w3-right w3-border-black w3-hover-border-black"
                    onclick="hideForm(event)"
                    style="background-color: black;text-align: center;color: white; height: 2.5em;width: 30%;margin-bottom: 0.5em;vertical-align:bottom">
                Отмена
            </button>
        </div>
    </form>
</div>
<div th:each="date:${dates}">
    <div class="container" style="margin-top: 2em"></div>
    <div class="w3-container w3-white w3-round-large w3-padding"
         style="width: 95%;margin: auto">
        <div class="container" style="padding: 5px 10px 5px 10px"><h1 th:text="${date}"
                                                                      style="font-weight: bold;font-size: xx-large"></h1>
        </div>
        <div th:each="hall:${halls}">
            <div style="display:flex;flex-direction: row;width:100%;justify-content: normal;margin: auto;padding: 5px 0px 5px 0px">
                <p th:text="'Зал №'+${hall[0]}+'  ('+${hall[1]}+'D)'"
                   style="padding: 3px;margin-top: -0.5%;   text-align: center"></p>
                <div>
                    <div class="rectangle-hidden">
                        <div class="rectangle-text" style="padding-left:0px; margin-top: -0.7%">8:00</div>
                        <div class="rectangle-text" style="margin-top: -0.7%;margin-left: auto">0:00</div>
                    </div>
                    <div class="rectangle" th:id="${hall[0]}"></div>
                    <div class="rectangle-hidden"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 2em"></div>
<script>
    var movies = [[${movs}]];
    var halls = [[${halls}]];
    document.ondragstart = function (event) {
        event.dataTransfer.setData("Text", event.target.id);
        event.target.style.height = "50px";
    };


    document.ondragover = function (event) {
        event.preventDefault();
    };

    document.ondrop = function (event) {
        event.preventDefault();
        if (event.target.className == "rectangle") {
            const data = event.dataTransfer.getData("Text");
            event.target.appendChild(document.getElementById(data));
        }
    };
    document.ondrop = function (event) {
        event.preventDefault();
        if (event.target.className == "rectangle") {
            const data = event.dataTransfer.getData("Text");
            event.target.appendChild(document.getElementById(data));
        }
    };

    function showForm() {
            document.getElementById("inputForm").style.display = "flex";
            var movId = event.target.id;
            var movPerm;
            for (var i = 0; i < movies.length; i++) {
                if (movies[i][0] == movId) {
                    movPerm = movies[i][2];
                    break;
                }
            }
            const select = document.getElementById("sesHall");
            for (var i = select.options.length - 1; i >= 0; i--) select.options.remove(i);
            document.getElementById("sesMovie").value = movId;
            for (var i = 0; i < halls.length; i++) {
                if (halls[i][1] == movPerm) select.options[document.getElementById("sesHall").options.length] = new Option(halls[i][0], halls[i][0]);
            }
    };

    function hideForm(event) {
        document.getElementById("inputForm").style.display = "none";
    }

    function changeTime(event) {
        var stTime = document.getElementById("sesStartTime").value;
        var hours = +stTime.slice(0, 2);
        var minutes = +stTime.slice(3);
        var movie = document.getElementById("sesMovie").value;
        var movLen;
        var movAge;
        for (var i = 0; i < movies.length; i++) {
            if (movies[i][0] == movie) {
                movLen = movies[i][1] + 20;
                movAge = movies[i][3];
                break;
            }
        }
        var date = document.getElementById("sesDate").value;
        var year = +date.slice(0, 4);
        var month = +date.slice(5, 7);
        var day = +date.slice(8, 10);
        var edate = new Date(year, month - 1, day, hours, minutes, 0, 0);
        edate.setMinutes(edate.getMinutes() + movLen);
        var nhours = edate.getHours();
        var nmins = edate.getMinutes();
        if (movAge == 18 && hours < 20) errActions("Фильмы 18+ не могут начинаться раньше 20:00");
        else {
            if (edate.getDate() == day) {
                document.getElementById("error").style.display="none";
                document.getElementById("sesEndTime").value = (nhours < 10 ? "0" + nhours : nhours) + ":" + (nmins < 10 ? "0" + nmins : nmins);
                document.getElementById("sesButton").disabled = false;
            } else {
                errActions("Слишком позднее время сеанса");
            }
        }
    }

    function errActions(let) {
        const err = document.getElementById("error");
        document.getElementById("sesEndTime").value = "";
        err.style.display = "block";
        err.innerHTML = let;
        document.getElementById("sesButton").disabled = true;
    }

    document.onmousemove = moveTip;
    function moveTip(e) {
        floatTipStyle = document.getElementById("floatTip").style;
        w = 300;
        if (document.all)  {
            x = event.clientX + document.body.scrollLeft;
            y = event.clientY + document.body.scrollTop;
        } else   {
            x = e.pageX;
            y = e.pageY;
        }
        if ((x + w + 10) < document.body.clientWidth) {
            floatTipStyle.left = x + 'px';
        } else {
            floatTipStyle.left = x - w + 'px';
        }
        floatTipStyle.top = y + 20 + 'px';
        floatTipStyle.zIndex=document.getElementById("scrWrpr").style.zIndex+1;
    }

    function toolTip(msg) {
        floatTipStyle = document.getElementById("floatTip").style;
        if (msg) {
            document.getElementById("floatTip").innerHTML = msg;
            floatTipStyle.display = "block";
        } else {
            floatTipStyle.display = "none";
        }
    }
    function toolTip(msg) {
        floatTipStyle = document.getElementById("floatTip").style;
        if (msg) {
            document.getElementById("floatTip").innerHTML = msg;
            floatTipStyle.display = "block";
        } else {
            floatTipStyle.display = "none";
        }
    }
    function hideToolTip(){
        document.getElementById("floatTip").style.display="none";
    }
</script>
</body>
</html>